main {
  margin-top: 60px;
}

#content {
  display: none;
}

form {
  width: 350px;
  margin-bottom: 10px;
}

ul {
  margin-bottom: 0px;
}

button:hover {
  opacity: 0.5;
}

#completedTaskList .content {
  color: grey;
  text-decoration: line-through;
}

#account {
  color: white;
}

.status-div {
  font-size: 12px;
  border-radius: 15px;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.vehicle-list {
  width: 400px;
}

@keyframes example {
  0% {
    background-color: red;
    color: white;
  }
  25% {
    background-color: yellow;
    color: black;
  }
  50% {
    background-color: blue;
    color: white;
  }
  100% {
    background-color: green;
    color: white;
  }
}
