main {
  margin-top: 60px;
}

#content {
  display: none;
}

form {
  width: 600px;
  margin-bottom: 10px;
  padding-right: 100px !important;
}

ul {
  margin-bottom: 0px;
}

button:hover {
  opacity: 0.5;
}

#completedTaskList .content {
  color: grey;
  text-decoration: line-through;
}

#account {
  color: white;
}

.status-div {
  font-size: 12px;
  border-radius: 15px;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.vehicle-list {
  width: 500px;
}

.video-status {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: -1;
  object-fit: cover;
}

.ant-divider-horizontal.ant-divider-with-text-center::before,
.ant-divider-horizontal.ant-divider-with-text-center::after {
  border-top: 1px solid black;
}

.ant-tag svg {
  margin-right: 5px;
  margin-bottom: 2px;
}

.ant-modal {
  width: fit-content !important;
}

.desc-text {
  font-size: 10px;
  color: darkgray;
}

@keyframes example {
  0% {
    background-color: red;
    color: white;
  }
  25% {
    background-color: yellow;
    color: black;
  }
  50% {
    background-color: blue;
    color: white;
  }
  100% {
    background-color: green;
    color: white;
  }
}
